#!/usr/bin/env zsh

# Enable aliases to be sudo’ed
alias sudo='sudo '
alias pls='sudo ' 

# Shortcut back to the home directory
alias home='cd $HOME'

# Precautions: warn & be verbose with (potentially) destructive file operations
alias mv='mv -i -v'
alias rm='rm -i -v'
alias cp='cp -i -v'
alias ln='ln -i -v'
alias chmod='gchmod --preserve-root'
alias chown='gchown --preserve-root'

# Formatting output
alias row='column -x'
alias table='column -t'
alias headers='column -t -s ":" -N' #accepts comma-separated list of column headers

# Python 2 -> 3
alias python='python3'
alias pip='pip3'

# ls options: A = include hidden (but not . or ..), F = add `/` after folders, h = human-readable size
alias ls='gls -AF --color=auto --group-directories-first'
alias eza='eza -a --group-directories-first'
alias recent='eza --long --sort=modified'
alias biggest='eza --long --sort=size -r'

# Grep
alias grep='grep --color=auto'
alias hgrep='history | grep'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias quiet="osascript -e 'set volume output muted true'"
alias loud="osascript -e 'set volume output volume 100'"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Show active network interfaces
alias ifactive="ifconfig | egrep 'status: active' -7 | egrep '^en\d\d?:'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -qt -Wbyline '^(GET|POST) ' 'tcp and port 80'"
alias sniffdns="sudo ngrep -q -Wbyline '' port 53"

# Git
#alias git='hub'
alias loc='cloc $(git ls-files)' # counts lines of code in current repo.

# HTTPie
alias https='http --default-scheme=https'

# yt-dlp
alias ytx='yt-dlp -x' # audio only
alias ytc='yt-dlp --cookies-from-browser chrome' # when signing in is required

# Combine a directory of pictures into a single PDF
# TODO: alias pic-to-pdf="magick -density 96 '*.{png,jpg,webp}' '.pdf'"

# open YAMl with jless conveniently
alias yless="jless --yaml"

# mogrify to avif
alias avify="fd -e png -e jpg -e jpeg --type file --threads 1 --exec mogrify -format avif '{}'"
alias pdfy="fd . --type dir --max-depth 1 --threads 1 --exec magick '{/}/*.avif' '{/}.pdf'"
alias avify_cleanup="fd -e png -e jpg -e jpeg --type file --exec rm '{}'"